altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
comm
debugpy
decorator
executing
Flask
gitdb
GitPython
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
narwhals
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
pip
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
py4j
pyarrow
pydeck
Pygments
pyspark
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
stack-data
streamlit
tenacity
threadpoolctl
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug